- if @user.role == 'Applicant'
  %div{:class => 'row'}
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Search for Applications
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Submit Application
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} See Application Feedback

- if @user.role == 'Reviewer'
  %div{:class => 'row'}
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Review Applications
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} See Application Feedback
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :type => "button"} See My Programs

- if @user.role == 'Funding Source'
  %div{:class => 'row'}
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Review Applications
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} See Application Feedback
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Approve Applications
  %div{:class => 'row'}
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Upload New Application Form
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :type => "button"} See My Programs

- if @user.role == 'Admin'
  %div{:class => 'row'}
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Search for Applications
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Submit Application
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} See Application Feedback
  %div{:class => 'row'}
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Review Applications
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Approve Applications
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Upload New Application Form
  %div{:class => 'row'}
    %div{:class => 'col-md-4'}
      %button{:class => 'btn btn-large col-md-12', :disabled => "disabled", :type => "button"} Approve New Application Forms
    %div{:class => 'col-md-4'}
      = link_to new_program_path do
        %button{:class => 'btn btn-large col-md-12', :type => "button"} Create New Programs
    %div{:class => 'col-md-4'}
      = link_to programs_path do
        %button{:class => 'btn btn-large col-md-12', :type => "button"} View Programs
