%h1= "Welcome, #{@user.username}"

%div{:class => 'container-fluid'}
  %div{:class => 'row'}
    %div{:class => 'col-md-3'} FOO
    %div{:class => 'col-md-3'} BAR
    %div{:class => 'col-md-3'} ZIM
    %div{:class => 'col-md-3'} GIR
