%div{:style => 'margin: 30px'}

  =form_for @program do |f|
    =render partial: 'program_form', f: f

  - if current_user.role == 'Admin'
    = link_to 'Delete Program', program_path(@program.id), :method => :delete

