%div{:style => 'margin: 30px'}
  %h1 Programs

  - @programs.each do |program|
    
    =link_to "#{program.name}", program_path(program.id)
    =program.start_date
    =program.end_date
    =program.pending
    %br

  %br

  = link_to 'Back to Dashboard', dashboard_path
